<div id="navbar-wrapper" class="bg-[#D7DBD9] pt-5">
    <div class="fixed top-0 left-0 z-50 w-full">
        <div class="navbar-form grid grid-cols-12 px-5 py-5 w-full">
            <div class="col-span-8">
                <form>
                    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Search</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none"
                                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                            </svg>
                        </div>
                        <input type="search" id="default-search"
                            class="block w-full p-4 pl-10 text-sm text-gray-900 border border-[#BCBCBC] rounded-lg bg-inherit"
                            placeholder="Search" required>
                    </div>
                </form>
            </div>
            <div class="col-span-4">
                <div class="grid grid-cols-2 items-center h-full justify-items-end">
                    <div> <button type="button"
                            class="relative inline-flex items-center text-sm font-medium text-center text-dark rounded-lg">

                            <svg class="h-6 w-6 text-gray-500" fill="none" stroke="currentColor" stroke-width="1.5"
                                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z">
                                </path>
                            </svg>
                            <span class="sr-only">Cart</span>
                            <div
                                class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-[#E55986] border-2 border-white rounded-full -top-2 -right-2">
                                5</div>
                        </button></div>
                    <div>
                        <button type="button"
                            class="relative inline-flex items-center text-sm font-medium text-center text-dark rounded-lg">

                            <svg class="h-6 w-6 text-gray-500" fill="none" stroke="currentColor" stroke-width="1.5"
                                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 01.865-.501 48.172 48.172 0 003.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z">
                                </path>
                            </svg>
                            <span class="sr-only">Message</span>
                            <div
                                class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-[#E55986] border-2 border-white rounded-full -top-2 -right-2">
                                9+</div>
                        </button>
                    </div>
                </div>
                <div>

                </div>
            </div>
        </div>
    </div>

    <div class="navbar-carousel w-100 mt-12 h-[220px]">
        <c-carousel [interval]="0" [touch]="true" class="h-full">
            <c-carousel-inner class="h-full">
                <c-carousel-item *ngFor="let slide of slidesStore" class="h-full">
                    <div class="grid grid-cols-2 h-[220px]">
                        <div class="pl-5 pt-5">
                            <p class="text-uppercase font-[700]">
                                #FASHION DAY
                            </p>
                            <p class="text-[36px] font-[700]">
                                80% OFF
                            </p>
                            <p class="text-[#5D5B5B] text-[12px]">
                                Discover fashion that suits your style
                            </p>
                            <button class="rounded-lg bg-[#2B2D41] text-white p-4 mt-3">Check this out</button>
                        </div>
                        <div class="h-full flex flex-col">
                            <img [src]="slide.src" alt="{{slide.title}}" class="d-block w-100 mt-auto" loading="lazy" />
                        </div>
                    </div>
                </c-carousel-item>
            </c-carousel-inner>
            <!-- <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
            <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control> -->
        </c-carousel>
    </div>
</div>